# Visual Studio / .NET Build Artifacts
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log
__pycache__/
*.pyc
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of PackageReference usage
**/packages/
!**/packages/build/

# Node / Angular / Front-end
node_modules/
dist/
tmp/
out-tsc/
bazel-out/
.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
npm-debug.log
yarn-error.log

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
.history/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
